body{
    justify-content:  center; 
    align-content: center;
    text-align: center;
}

h1{
    align-content: center; 
    justify-content: center;
    text-align: center;
}

photo{
    align-content: center;
    justify-content:  center; 
}
p{text-align: center;
margin: 60px;
    text-decoration-color: yellow;
}

h3{
    text-align: center;
    margin: 50px;
}

audio{justify-content: center;
    align-content: center;
    text-align: center;
    margin: 3px 20px;
    width: 400px;
    height: 100;
    padding: 15px 20px;
    background-color:  red 
   
    
    ;
}

h2{
    text-align: center;
}

body .inscription{
    padding: 10px 20px;
    font-size: 30px;
    color: yellow;
    background-color: red;
    cursor: pointer;
}